@tailwind base;
@tailwind components;
@tailwind utilities;


@responsive{
    .w-550{
        width: 550px;
    }
    .w-650{
        width: 650px;
    }
}

html{
    font-size: 16px;
}

@media (min-width: 768px){
    html{
        font-size: 18px;
    }
}

@media (min-width: 1024px){
    html{
        font-size: 20px;
    }
}